Repository werf/werf, pull requests merged in 2021-09, with the labels that each got.

#3699 [docs] Update publications
  docs/site/_data/publications.yml
  docs/site/_includes/publications.html
  docs/site/images/publications/en_030921.png
  docs/site/images/publications/en_040221.png
  docs/site/images/publications/en_260821.png
  docs/site/images/publications/ru_020721.png
  docs/site/images/publications/ru_090821.png
Labels: review docs

#3698 docs: move from multiwerf to trdl
  docs/documentation/pages_en/advanced/ci_cd/gitlab_ci_cd.md
  docs/documentation/pages_en/advanced/cleanup.md
  docs/documentation/pages_en/quickstart.md
  docs/documentation/pages_ru/advanced/ci_cd/gitlab_ci_cd.md
  docs/documentation/pages_ru/advanced/cleanup.md
  docs/documentation/pages_ru/quickstart.md
  docs/site/_includes/en/installation/how_it_works.md
  docs/site/_includes/en/installation/multiwerf_linux.md
  docs/site/_includes/en/installation/multiwerf_macos.md
  docs/site/_includes/en/installation/multiwerf_unix/how_to_use_in_the_ci_cd.md
  docs/site/_includes/en/installation/multiwerf_windows.md
  docs/site/_includes/en/installation/trdl_linux.md
  docs/site/_includes/en/installation/trdl_macos.md
  docs/site/_includes/en/installation/trdl_unix/how_to_use_in_the_ci_cd.md
  docs/site/_includes/en/installation/trdl_windows.md
  docs/site/_includes/en/installation/werf_dependencies.md
  docs/site/_includes/installation/binary_linux.md
  docs/site/_includes/installation/binary_macos.md
  docs/site/_includes/installation/binary_windows.md
  docs/site/_includes/installation/source.md
  docs/site/_includes/ru/installation/how_it_works.md
  docs/site/_includes/ru/installation/multiwerf_linux.md
  docs/site/_includes/ru/installation/multiwerf_macos.md
  docs/site/_includes/ru/installation/multiwerf_unix/how_to_use_in_the_ci_cd.md
  docs/site/_includes/ru/installation/multiwerf_windows.md
  docs/site/_includes/ru/installation/trdl_linux.md
  docs/site/_includes/ru/installation/trdl_macos.md
  docs/site/_includes/ru/installation/trdl_unix/how_to_use_in_the_ci_cd.md
  docs/site/_includes/ru/installation/trdl_windows.md
  docs/site/_includes/ru/installation/werf_dependencies.md
  docs/site/js/installation.js
  docs/site/pages_en/installation.md
  docs/site/pages_ru/installation.md
Labels: test docs

#3716 fix: broken release building script, fix site installation instructions
  docs/site/.werf/artifacts/channels_versions.json
  docs/site/_includes/installation/binary_linux.md
  docs/site/_includes/installation/binary_macos.md
  docs/site/_includes/installation/binary_windows.md
  docs/site/pages_en/installation.md
  docs/site/pages_ru/installation.md
  scripts/build_release_v3.sh
Labels: test docs

#3730 chore: release 1.1.26
  CHANGELOG.md
Labels: autorelease: pending

#3732 chore: release 1.1.27
  CHANGELOG.md
Labels: autorelease: pending

#3738 chore: release 1.2.21
  CHANGELOG.md
Labels: autorelease: pending

#3734 docs: rework installation instructions
  docs/site/_includes/en/installation/binary_linux.md
  docs/site/_includes/en/installation/binary_macos.md
  docs/site/_includes/en/installation/binary_windows.md
  docs/site/_includes/en/installation/how_it_works.md
  docs/site/_includes/en/installation/trdl_linux.md
  docs/site/_includes/en/installation/trdl_macos.md
  docs/site/_includes/en/installation/trdl_unix/how_to_use_in_the_ci_cd.md
  docs/site/_includes/en/installation/trdl_windows.md
  docs/site/_includes/en/installation/werf_dependencies.md
  docs/site/_includes/installation/binary_linux.md
  docs/site/_includes/installation/binary_macos.md
  docs/site/_includes/installation/binary_windows.md
  docs/site/_includes/installation/source.md
  docs/site/_includes/ru/installation/binary_linux.md
  docs/site/_includes/ru/installation/binary_macos.md
  docs/site/_includes/ru/installation/binary_windows.md
  docs/site/_includes/ru/installation/how_it_works.md
  docs/site/_includes/ru/installation/trdl_linux.md
  docs/site/_includes/ru/installation/trdl_macos.md
  docs/site/_includes/ru/installation/trdl_unix/how_to_use_in_the_ci_cd.md
  docs/site/_includes/ru/installation/trdl_windows.md
  docs/site/_includes/ru/installation/werf_dependencies.md
  docs/site/css/installation.css
  docs/site/pages_en/installation.md
  docs/site/pages_ru/installation.md
Labels: test docs

#3745 chore: release 1.2.22
  CHANGELOG.md
Labels: autorelease: pending

#3747 chore: release 1.2.23
  CHANGELOG.md
Labels: autorelease: pending

#3756 site(styles): Update the details class
  docs/site/css/docs.css
Labels: review docs

#3754 site(installation): Fix styles and reorder tabs
  docs/site/css/tab.css
  docs/site/pages_en/installation.md
  docs/site/pages_ru/installation.md
Labels: review docs

#3753 site(reference): Add links to lines in codeblocks
  docs/documentation/_includes/reference/configuration_table_directive.html
  docs/documentation/_includes/reference/werf_yaml/table.html
  docs/site/css/configuration-table.css
  docs/site/js/customscripts.js
Labels: test docs

#3759 style(sidebar): Update sidebar list style
  docs/site/css/docs.css
  docs/site/images/icons/maintanance-mini.svg
Labels: test docs
