Repository werf/werf, pull requests merged in 2021-03, with the labels that each got.

#3287 [docs] Reference/werf.yaml template engine
  docs/_data/sidebars/_documentation.yml
  docs/_data/sidebars/documentation.yml
  docs/pages/documentation/advanced/configuration/organizing_configuration.md
  docs/pages/documentation/reference/werf_yaml_template_engine.md
  docs/pages_ru/documentation/advanced/configuration/organizing_configuration.md
  docs/pages_ru/documentation/advanced/giterminism.md
  docs/pages_ru/documentation/reference/werf_yaml_template_engine.md
Labels: review docs

#3315 [ci] Website review environments
  .github/workflows/website_review.yml
  .github/workflows/website_review_dismiss.yml
  docs/.helm/multiwerf-dev.json
  docs/.helm/templates/12-backend.yaml
  docs/.helm/templates/20-ingress.yaml
  docs/.helm/values.yaml
  docs/.werf/dev/channels_versions.json
  docs/.werf/dev/feeds.tgz.base64
  docs/.werf/dev/releases.json
  docs/.werf/dev/releases_history.json
  docs/.werf/nginx.conf
  docs/backend/main.go
Labels: review docs

#3352 [DOCS] Translated two articles
  .github/workflows/website_review.yml
  docs/_data/werf_yaml.yml
  docs/pages/documentation/advanced/building_images_with_stapel/docker_directive.md
  docs/pages/documentation/advanced/ci_cd/gitlab_ci_cd.md
  docs/pages/documentation/advanced/supported_container_registries.md
  docs/pages/documentation/internals/build_process.md
  docs/pages/documentation/internals/development/stapel_image.md
  docs/pages/documentation/internals/stages_and_storage.md
  docs/werf-site.yaml
Labels: review docs

#3393 [CI] Updates
  .github/workflows/validate_repo.yml
  .github/workflows/website_converge_test.yml
  docs/site/.helm/templates/20-ingress.yaml
Labels: test docs

#3396 [docs] Remove 1.0 version from the installation page
  docs/site/pages_en/installation.md
  docs/site/pages_ru/installation.md
Labels: review docs

#3410 [web] Fix 404 page
  docs/documentation/pages_en/404.md
  docs/documentation/pages_ru/404.md
Labels: test docs

#3394 [web] Use common partials for guides
  docs/documentation/pages_en/index.md
  docs/documentation/pages_ru/index.md
  docs/site/_includes/en/guides/tiles.html
  docs/site/_includes/ru/guides/tiles.html
  docs/site/css/guides.css
  docs/site/css/index.css
  docs/site/guides-tiles.html
  docs/site/pages_en/guides.md
  docs/site/pages_ru/guides.md
Labels: test docs

#3432 [web] Fix documentation overview assets
  docs/site/guides-tiles.html
Labels: test docs

#3441 [ci] Switch to GHCR
  .github/workflows/website_converge.yml
  .github/workflows/website_converge_tag.yml
  .github/workflows/website_converge_test.yml
  .github/workflows/website_review.yml
  .github/workflows/website_review_dismiss.yml
Labels: review docs, test docs
