Repository werf/werf, pull requests merged in 2023-01, with the labels that each got.

#5196 Templates.md - proofreading and translating
  docs/pages_en/usage/deploy/templates.md
  docs/pages_ru/usage/deploy/templates.md
Labels: scope: documentation

#5212 docs(usage): new RU "tracking" chapter
  docs/pages_ru/usage/deploy/tracking.md
Labels: trigger: docs:deploy:pr

#5206 chore: release 1.2.196
  CHANGELOG.md
Labels: autorelease: pending

#5230 docs(deployment): revert releases article and update intro
  docs/pages_ru/usage/deploy/releases.md
Labels: trigger: docs:deploy:pr

#5238 chore: release 1.2.197
  CHANGELOG.md
Labels: autorelease: pending

#5242 docs(build): update process article
  docs/_data/sidebars/_documentation.yml
  docs/_data/sidebars/documentation.yml
  docs/pages_en/resources/how_to_migrate_from_v1_1_to_v1_2.md
  docs/pages_en/usage/build/run_in_containers.md
  docs/pages_en/usage/build/storage.md
  docs/pages_en/usage/deploy/intro.md
  docs/pages_en/usage/distribute/charts.md
  docs/pages_ru/resources/how_to_migrate_from_v1_1_to_v1_2.md
  docs/pages_ru/usage/build/process.md
  docs/pages_ru/usage/build/run_in_containers.md
  docs/pages_ru/usage/build/storage.md
Labels: trigger: docs:deploy:pr

#5249 chore: release 1.2.198
  CHANGELOG.md
Labels: autorelease: pending

#5199 docs(usage): integration with ci cd systems
  docs/_data/breadcrumbs.yml
  docs/_data/sidebars/_documentation.yml
  docs/_data/sidebars/documentation.yml
  docs/pages_en/index.md
  docs/pages_en/quickstart.md
  docs/pages_en/usage/deploy/environments.md
  docs/pages_en/usage/deploy/todo_annotating_and_labeling.md
  docs/pages_en/usage/integration_with_ci_cd_systems.md
  docs/pages_en/usage/integration_with_ci_cd_systems/generic_ci_cd_integration.md
  docs/pages_en/usage/integration_with_ci_cd_systems/how_ci_cd_integration_works/general_overview.md
  docs/pages_en/usage/integration_with_ci_cd_systems/how_ci_cd_integration_works/github_actions.md
  docs/pages_en/usage/integration_with_ci_cd_systems/how_ci_cd_integration_works/gitlab_ci_cd.md
  docs/pages_en/usage/integration_with_ci_cd_systems/using_with_ci_cd_systems.md
  docs/pages_ru/index.md
  docs/pages_ru/quickstart.md
  docs/pages_ru/usage/deploy/todo_annotating_and_labeling.md
  docs/pages_ru/usage/integration_with_ci_cd_systems.md
  docs/pages_ru/usage/integration_with_ci_cd_systems/generic_ci_cd_integration.md
  docs/pages_ru/usage/integration_with_ci_cd_systems/how_ci_cd_integration_works/general_overview.md
  docs/pages_ru/usage/integration_with_ci_cd_systems/how_ci_cd_integration_works/github_actions.md
  docs/pages_ru/usage/integration_with_ci_cd_systems/how_ci_cd_integration_works/gitlab_ci_cd.md
  docs/pages_ru/usage/integration_with_ci_cd_systems/using_with_ci_cd_systems.md
Labels: trigger: docs:deploy:pr

#5261 site: sync head with website one
  docs/_includes/head.html
  docs/_includes/head.html.liquid
  docs/_layouts/default.html
Labels: trigger: docs:deploy:pr

#5267 docs(build): update images article
  docs/_data/sidebars/_documentation.yml
  docs/_data/sidebars/documentation.yml
  docs/pages_ru/usage/build/images.md
Labels: trigger: docs:deploy:pr

#5266 docs(project_configuration): add overview and update giterminism
  docs/_data/breadcrumbs.yml
  docs/_data/sidebars/_documentation.yml
  docs/_data/sidebars/documentation.yml
  docs/pages_en/usage/project_configuration/overview.md
  docs/pages_ru/reference/werf_giterminism_yaml.md
  docs/pages_ru/usage/project_configuration/giterminism.md
  docs/pages_ru/usage/project_configuration/overview.md
Labels: trigger: docs:deploy:pr

#5257 chore: release 1.2.199
  CHANGELOG.md
Labels: autorelease: pending
